<div class="panel">
  <div>
    <h3>Autocomplete simple option</h3>
    <kc-autocomplete [formControl]="simpleControl" [options]="(simpleOptions$ | async)!">
      <value *value>
        <input [formControl]="search" type="text" />
      </value>

      <!-- <kc-options *kcOptions="let options type getType" [options]="options"> -->
      <kc-options *kcOptions="let options; type: getType" [options]="options">
        <div>test: {{ options[0].value }}</div>
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options>

      <kc-options *kcOptions="let options" [options]="options">
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options>
    </kc-autocomplete>

    <h3>Autocomplete simple option</h3>
    <kc-autocomplete [formControl]="simpleControl" [options]="simpleOptions$" multiple>
      <value *value>
        <input [formControl]="search" type="text" />
      </value>

      <kc-options *kcOptions="let options" [options]="options">
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options>

      <kc-options *kcOptions="let options" [options]="options">
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options>
    </kc-autocomplete>

    <!-- <h3>Autocomplete simple option (observable)</h3>
    <kc-autocomplete [formControl]="control" [options]="simpleOptions">
      <value *value>
        <input [formControl]="search" type="text" />
      </value>

      <kc-options *kcOptions="let options" [options]="options">
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options>
    </kc-autocomplete>

    <h3>Autocomplete simple option multiple</h3>
    <kc-autocomplete [formControl]="control" [options]="(simpleOptions | async)!" multiple>
      <value *value>
        <input [formControl]="search" type="text" />
      </value>

      <kc-options *kcOptions="let options" [options]="options">
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options>
    </kc-autocomplete>

    <h3>Autocomplete group</h3>
    <kc-autocomplete [formControl]="control" [options]="(options | async)!">
      <value *value>
        <input [formControl]="search" type="text" />
      </value>

      <kc-options-group *kcOptions="let options" [options]="options" key="locations">
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options-group>

      <kc-options-group *kcOptions="let options" [options]="options" key="waiters" multiple>
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options-group>
    </kc-autocomplete>

    <h3>Autocomplete group (observable)</h3>
    <kc-autocomplete [formControl]="control" [options]="options">
      <value *value>
        <input [formControl]="search" type="text" />
      </value>

      <kc-options-group *kcOptions="let options" [options]="options" key="locations">
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options-group>

      <kc-options-group *kcOptions="let options" [options]="options" key="waiters" multiple>
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options-group>
    </kc-autocomplete>

    <h3>Autocomplete group multiple</h3>
    <kc-autocomplete [formControl]="control" [options]="(options | async)!" multiple>
      <value *value>
        <input [formControl]="search" type="text" />
      </value>

      <kc-options-group *kcOptions="let options" [options]="options" key="locations">
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options-group>

      <kc-options-group *kcOptions="let options" [options]="options" key="waiters" multiple>
        <input [formControl]="search" type="text" />
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options-group>
    </kc-autocomplete> -->

    <h3>Autocomplete group multiple nested</h3>
    <kc-autocomplete [formControl]="control" [options]="optionsNested$ | async" multiple>
      <input [formControl]="search" type="text" />

      <kc-group *kcGroup="let options" [options]="options" key="locations" multiple>
        <kc-options *kcOptions="let options" [options]="options">
          <kc-option *kcOption="let option" [option]="option"></kc-option>
        </kc-options>
      </kc-group>

      <kc-group *kcGroup="let options" [options]="options" key="waiters" multiple>
        <kc-group *kcGroup="let options" [options]="options" key="users" multiple>
          <kc-options *kcOptions="let options" [options]="options">
            <div>header</div>
            <div footer>footer</div>
            <kc-option *kcOption="let option" [option]="option"></kc-option>
          </kc-options>

          <kc-options *kcOptions="let options" [options]="options">
            <kc-option *kcOption="let option" [option]="option"></kc-option>
          </kc-options>
        </kc-group>

        <kc-group *kcGroup="let options" [options]="options" key="things">
          <kc-options *kcOptions="let options" [options]="options">
            <div>header</div>
            <div footer>footer</div>
            <kc-option *kcOption="let option" [option]="option"></kc-option>
          </kc-options>
        </kc-group>
      </kc-group>
    </kc-autocomplete>

    <!--
    <kc-autocomplete [formControl]="control"  [options]="(options | async)!" dialog>
      <ng-template value>
        <value></value>
      </ng-template>

      <ng-template kcOptions let-options>
        <kc-options [options]="options">

        <input [formControl]="search" type="text">

        <ng-template kcOption let-option>
          <kc-option [option]="option"></kc-option>
        </ng-template>

        </kc-options>
      </ng-template>
    </kc-autocomplete>


    <kc-autocomplete [formControl]="control" [options]="(options | async)!" dialog>
      <value *value>
        <input [formControl]="search" type="text">
      </value>

      <kc-options *kcOptions="let options" [options]="options">
        <value></value>

        <input [formControl]="search" type="text">
        <kc-option *kcOption="let option" [option]="option"></kc-option>
      </kc-options>
    </kc-autocomplete> -->
  </div>
  <div class="panel__result">
    <pre>{{ simpleControl.value | json }}</pre>
    <pre>{{ control.value | json }}</pre>
  </div>
</div>
