<autocomplete [formControl]="control" [options]="(simpleOptions | async)!">
  <value *value>
    <input [formControl]="search" type="text">
  </value>

  <kc-options *kcOptions="let options" [options]="options">
    <input [formControl]="search" type="text">
    <kc-option *kcOption="let option" [option]="option"></kc-option>
  </kc-options>
</autocomplete>

<autocomplete [formControl]="control" [options]="(options | async)!">
  <value *value>
    <input [formControl]="search" type="text">
  </value>

  <kc-options-group *kcOptions key="locations">
    <input [formControl]="search" type="text">
    <kc-option *kcOption="let option" [option]="option"></kc-option>
  </kc-options-group>

  <kc-options-group *kcOptions key="waiters" multiple>
    <input [formControl]="search" type="text">
    <kc-option *kcOption="let option" [option]="option"></kc-option>
  </kc-options-group>
</autocomplete>

<autocomplete [formControl]="control" [options]="options">
  <value *value>
    <input [formControl]="search" type="text">
  </value>

  <kc-options-group *kcOptions key="locations">
    <input [formControl]="search" type="text">
    <kc-option *kcOption="let option" [option]="option"></kc-option>
  </kc-options-group>

  <kc-options-group *kcOptions key="waiters" multiple>
    <input [formControl]="search" type="text">
    <kc-option *kcOption="let option" [option]="option"></kc-option>
  </kc-options-group>
</autocomplete>

<autocomplete [formControl]="control" [options]="(options | async)!" multiple>
  <value *value>
    <input [formControl]="search" type="text">
  </value>

  <kc-options-group *kcOptions key="locations">
    <input [formControl]="search" type="text">
    <kc-option *kcOption="let option" [option]="option"></kc-option>
  </kc-options-group>

  <kc-options-group *kcOptions key="waiters" multiple>
    <input [formControl]="search" type="text">
    <kc-option *kcOption="let option" [option]="option"></kc-option>
  </kc-options-group>
</autocomplete>
<!--
<autocomplete [formControl]="control"  [options]="(options | async)!" dialog>
  <ng-template value>
    <value></value>
  </ng-template>

  <ng-template kcOptions let-options>
    <kc-options [options]="options">

    <input [formControl]="search" type="text">

    <ng-template kcOption let-option>
      <kc-option [option]="option"></kc-option>
    </ng-template>

    </kc-options>
  </ng-template>
</autocomplete>


<autocomplete [formControl]="control" [options]="(options | async)!" dialog>
  <value *value>
    <input [formControl]="search" type="text">
  </value>

  <kc-options *kcOptions="let options" [options]="options">
    <value></value>

    <input [formControl]="search" type="text">
    <kc-option *kcOption="let option" [option]="option"></kc-option>
  </kc-options>
</autocomplete> -->
